<template>
  <div class="register">
    <b-form @submit.prevent="onSubmit">
      <b-row>
        <b-col cols="12">
          <b-form-group>
            <b-input-group>
              <b-form-input
                type="email"
                name="email"
                :placeholder="$t('forms.label.email')"
                v-model="formData.email"
                v-validate="{
                  required: true,
                  email: true
                }"
                :state="$validateState('email')"
              />
              <b-input-group-append is-text class="icon-addon">
                <font-awesome-icon :icon="['fas', 'envelope']"/>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>

          <b-form-group>
            <b-input-group>
              <b-form-input
                type="password"
                name="password"
                ref="password"
                :placeholder="$t('forms.label.password')"
                v-model="formData.password"
                v-validate="{
                  required: true
                }"
                :state="$validateState('password')"
              />
              <b-input-group-append is-text class="icon-addon">
                <font-awesome-icon :icon="['fas', 'lock']"/>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>

          <b-form-group>
            <b-input-group>
              <b-form-input
                type="password"
                name="confirmPassword"
                :placeholder="$t('forms.label.confirmPassword')"
                v-model="formData.confirmPassword"
                v-validate="{
                  required: true,
                  confirmed: 'password'
                }"
                :state="$validateState('confirmPassword')"
              />
              <b-input-group-append is-text class="icon-addon">
                <font-awesome-icon :icon="['fas', 'lock']"/>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>

          <b-form-group>
            <b-input-group>
              <b-form-input
                type="text"
                name="firstName"
                :placeholder="$t('forms.label.firstName')"
                v-model="formData.firstName"
                v-validate="{
                  required: true
                }"
                :state="$validateState('firstName')"
              />
              <b-input-group-append is-text class="icon-addon">
                <font-awesome-icon :icon="['fas', 'user']"/>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>

          <b-form-group>
            <b-input-group>
              <b-form-input
                type="text"
                name="lastName"
                :placeholder="$t('forms.label.lastName')"
                v-model="formData.lastName"
                v-validate="{
                  required: true
                }"
                :state="$validateState('lastName')"
              />
              <b-input-group-append is-text class="icon-addon">
                <font-awesome-icon :icon="['fas', 'user']"/>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row class="mt-3">
        <b-col cols="12">
          <b-button block variant="default" type="submit">
            {{ $t('auth.register') }}
          </b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="auto" class="ml-auto">
          <router-link  :to="{name: 'login'}">
            {{ $t('auth.alreadyJoined') }}
          </router-link>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>
export default {
  name: 'register',
  data () {
    return {
      formData: {}
    }
  },
  methods: {
    onSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          console.log('submit')
          return
        }
        console.log('validate-fail')
      })
    }
  }
}
</script>

<style lang="scss">
.register {
  width: 25rem;

  a {
    color: $charcoal;
  }
}
</style>
