<template>
  <div>
    <app-widget
      :app="app"
      :textHeader="$t('menu.data.table')"
      hasAdd
      hasDelete
      @click-delete="$confirmDelete(selected)"
    >
      <app-table
        hasUpdate
        hasDelete
        :app="app"
        :filter.sync="filter"
        :fields="fields"
        :items="items"
        :perPage.sync="perPage"
        :currentPage.sync="currentPage"
        :totalRows.sync="totalRows"
        :isBusy="isBusy"
        :selected.sync="selected"
        @edit="edit"
        @delete="$confirmDelete"
      >
        <template slot="name" slot-scope="{ row }">
          {{ row.value.first }} {{ row.value.last }}
        </template>

        <template slot="isActive" slot-scope="{ row }">
          {{ row.value ? 'Yes :)' : 'No :(' }}
        </template>
      </app-table>
    </app-widget>

    <!-- modal -->
    <app-modal
      :app="app"
      @submit-add="submit_add = true"
      @submit-update="submit_update = true"
      @close-add="close_add = true"
      @close-update="close_update = true"
    >
      <template slot="update-modal">
        <pre>
          {{update_data}}
        </pre>
      </template>
    </app-modal>
  </div>
</template>

<script>
export default {
  name: 'data-table',
  data () {
    return {
      app: 'data_table',
      submit_add: false,
      submit_update: false,
      close_add: false,
      close_update: false,
      items: [
        {
          id: 1,
          isActive: true,
          age: 40,
          name: {
            first: 'Dickerson',
            last: 'Macdonald'
          }
        },
        {
          id: 2,
          isActive: false,
          age: 21,
          name: {
            first: 'Larsen',
            last: 'Shaw'
          }
        },
        {
          id: 3,
          isActive: false,
          age: 89,
          name: {
            first: 'Geneva',
            last: 'Wilson'
          }
        }
      ],
      fields: [
        {
          key: 'select',
          label: 'Select'
        },
        {
          key: 'name',
          label: 'Person Full name',
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'age',
          label: 'Person age',
          sortable: true,
          class: 'text-center'
        },
        {
          key: 'isActive',
          label: 'is Active'
        },
        {
          key: 'actions',
          label: 'Actions'
        }
      ],
      filter: '',
      perPage: 10,
      currentPage: 1,
      totalRows: 0,
      update_data: null,
      selected: [],
      isBusy: false
    }
  },
  methods: {
    edit (item) {
      this.update_data = item
      this.$bvModal.show('update-modal') // show update modal
    },
    $submitDelete (data) { // onsubmit delete
      return new Promise((resolve, reject) => {
        // remove items are selected
        this.items = this.items.filter(value => !data.includes(value.id))
        this.selected = []
        resolve(true)
      })
    }
  }
}
</script>
