.btn-primary {
  box-shadow: 0px 0px 10px 1.28px rgba($brand-primary, 0.7);
}

.btn-secondary {
  box-shadow: 0px 0px 10px 1.28px rgba($brand-secondary, 0.7);
}

.btn-success {
  box-shadow: 0px 0px 10px 1.28px rgba($brand-success, 0.7);
}

.btn-danger {
  box-shadow: 0px 0px 10px 1.28px rgba($brand-danger, 0.7);
}

.btn-warning {
  box-shadow: 0px 0px 10px 1.28px rgba($brand-warning, 0.7);
}

.btn-info {
  box-shadow: 0px 0px 10px 1.28px rgba($brand-info, 0.7);
}

.btn-light {
  box-shadow: 0px 0px 10px 1.28px rgba($brand-light, 0.7);
}

.btn-dark {
  box-shadow: 0px 0px 10px 1.28px rgba($brand-dark, 0.7);
}

.btn-muted {
  box-shadow: 0px 0px 10px 1.28px rgba($brand-muted, 0.7);
}

.btn-white {
  box-shadow: 0px 0px 10px 1.28px rgba($brand-white, 0.7);
}

.btn-default {
  box-shadow: 0px 0px 10px 1.28px rgba($brand-default, 0.7);
}

.btn-base {
  box-shadow: 0px 0px 10px 1.28px rgba($brand-base, 0.7);
}
