.main-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: $header-height-sm;
  min-height: 100%;
  width: $sidebar-width;
  font-family: $headings-font-family;
  z-index: $sidebar-zindex;
  transform: translateX(-$sidebar-width);
  transition: $sidebar-transition;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    position: absolute;
    top: $header-height-sm;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $sidebar-bg;
    box-shadow: $sidebar-box-shadow;
  }

  .sidebar {
    &-scroll {
      height: calc(100vh - 48px - 90px);
      overflow: hidden;
    }

    &-menu {
      list-style: none;
      padding-left: 0;
      overflow: hidden;
      margin-bottom: 0;

      >.sidebar-item{
        >.sidebar-link{

          >.sidebar-link{
            &-icon {
              min-width: 35px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            &-text {
              padding-left: 0;
            }
          }

          &:hover {
            text-decoration: none;
          }

          &.router-link-active {
            background-color: $sidebar-link-active-bg;
            color: $sidebar-link-active-color;
            box-shadow: $sidebar-link-active-shadow;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 10px;
              height: 100%;
              background-color: $secondary;
            }
          }
        }

        >.collapse, >.collapsing{
          background-color: $sidebar-submenu-bg;
        }
      }
    }

    &-item {
      &-group {
        >.sidebar-link {

          &:after {
            content: '\f105';
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            @include font-awesome-fas;
          }

          &.collapsed {
            &:after {
              content: '\f107';
            }
          }
        }
      }
    }

    &-link {
      position: relative;
      display: flex;
      flex-grow: 1;
      align-items: center;
      color: $sidebar-link-color;
      padding: $sidebar-link-padding;
      white-space: nowrap;
      min-height: $sidebar-link-height;
    }

    &-submenu{
      list-style: none;

      .sidebar{
        &-link{
          opacity: 0.5;

          &-icon{
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            background-color: $sidebar-link-color;
            border-radius: 100%;
            margin-right: .5rem;
          }

          &.router-link-active, &:hover{
            opacity: 1;
            text-decoration: none;
          }
        }
      }
    }
  }

  // 992px up
  @include media-breakpoint-up(lg) {
    padding-top: $header-height-sm;

    &::before {
      top: $header-height-sm;
    }

    .sidebar {
      &-scroll {
        height: calc(100vh - 48px - 55px);
      }
    }
  }

  // 1200px up
  @include media-breakpoint-up(xl) {
    transform: translateX(0);

    .sidebar {
      &-menu {
        >.sidebar-item{
          >.sidebar-link{
            &:hover {
              background-color: $sidebar-link-active-bg;
              color: $sidebar-link-active-color;
              box-shadow: $sidebar-link-active-shadow;

              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 10px;
                height: 100%;
                background-color: $secondary;
              }
            }
          }
        }
      }
    }
  }
}

.sidebar-toggle>.main-sidebar {
  transform: translateX(0);

  // 1200px up
  @include media-breakpoint-up(xl) {
    width: $sidebar-width-sm;

    .sidebar {
      &-item {
        &-group {
          .sidebar-link::after {
            display: none;
          }
        }
      }

      &-link-text {
        display: none;
      }

      &-submenu {
        display: none;
      }
    }

    @include hover {
      width: $sidebar-width;

      .sidebar {
        &-item {
          &-group {
            .sidebar-link::after {
              display: inline-block;
            }
          }
        }

        &-link-text {
          display: inline-block;
        }

        &-submenu {
          display: block;
        }
      }

      .app-version {
        &-lg {
          display: inline-block;
        }

        &-sm {
          display: none;
        }
      }
    }
  }
}
