/*
========== color ==========
*/
$gray: #acb5be !default;
$light-gray: #ebebeb;
$lighter-gray: #f3f3f3;
$charcoal: #555555;
$darkest-gray: #333333;
$almost-black: #161616;
$hover-black: #222222;

// app
$default-theme: #0b82ca;
$default-light-theme: #a2d2f0;
$default-base-theme: #adadad;
$default-box-shadow: 0px 8px 14.72px 1.28px rgba($gray, 0.3);
$default-height: 100%;

// bootstrap
$brand-primary: #037bff;
$brand-secondary: #6c747d;
$brand-success: #28a645;
$brand-danger: #dd3544;
$brand-warning: #ffc108;
$brand-info: #18a2b8;
$brand-light: #f8f9fa;
$brand-dark: #343a40;
$brand-muted: #c9ccd0;
$brand-white: #ffffff;
$brand-default: $default-theme;
$brand-base: rgba($default-base-theme, 0.7);

/*
========== setting ==========
*/

// add theme color in bootstrap
$theme-colors: (
  "primary": $brand-primary,
  "secondary": $brand-secondary,
  "success": $brand-success,
  "danger": $brand-danger,
  "warning": $brand-warning,
  "info": $brand-info,
  "light": $brand-light,
  "dark": $brand-dark,
  "muted": $brand-muted,
  "white": $brand-white,
  "default": $brand-default,
  "base": $brand-base
);

// layout
$layout-padding: 14px;
$layout-padding-right: 44px;
$min-z-index: -1000;
$max-z-index: 10000;

// pre loader
$preloader-top: calc(50% - 104px / 2);

// typography
$font-family-base: 'Avenir', Helvetica, Arial, sans-serif;
$headings-font-family: 'Kanit', sans-serif;
$fa-font-path: "/fonts/webfonts"; // Fontawesome
$font-size-base: 1rem;

/*
========== navbar ==========
*/
$header-bg: $brand-default;
$header-logo-bg: $light-gray;
$header-zindex: 1030;
$header-height: 136px;
$header-height-sm: 87px;
$header-logo-img: url('/img/vue-logo.png');
$header-logo-height: 40px;
$header-logo-bg-size-sm: auto 30px;
$navbar-color: white;
$nav-link-shadow: 0 0 10px 0 rgba(1, 59, 88, 0.14);
$noti-color: $brand-warning;


/*
========== sidebar ==========
*/
$sidebar-width: 317px;
$sidebar-width-sm: 70px;
$sidebar-bg: $lighter-gray;
$sidebar-box-shadow: 0 0 20px 0 rgba(1, 59, 88, 0.14);
$sidebar-zindex: 810;
$sidebar-transition: transform .3s ease-in-out, width .3s ease-in-out;
$sidebar-viewport-height: $default-height;
$sidebar-hidden-top: -150px;
$sidebar-left: $layout-padding;

$sidebar-link-color: $charcoal;
$sidebar-link-padding: 9px 25px 9px 20px;
$sidebar-link-height: 48px;
$sidebar-link-font-size: .75em;
$sidebar-link-font-size-active: $font-size-base;
$sidebar-link-active-bg: rgba($brand-default, 0.6);
$sidebar-link-active-shadow: 0 0 20px 0 rgba($brand-default, 0.6);
$sidebar-link-active-color: white;

$sidebar-submenu-bg: rgba($sidebar-bg, 0.5);
$sidebar-submenu-dot-color: $sidebar-link-color;
$sidebar-submenu-link-height: 48px;
$sidebar-submenu-link-pl: 74px;

/*
========== content ==========
*/
$content-wrap-ml: calc(#{$sidebar-left} + #{$sidebar-width} + 35px);
$content-wrap-pr: $layout-padding-right;
$content-wrap-pt: $layout-padding;
$content-wrap-pb: $layout-padding;

/*
========== footer ==========
*/
$footer-bg: #dcdcdc;
$footer-color: #999a9a;
