<template>
  <div class="login">
    <b-form @submit.prevent="onSubmit">
      <b-row>
        <b-col>
          <small class="form-text text-danger">*Any email and password to enter</small>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group>
            <b-input-group>
              <b-form-input
                type="email"
                name="email"
                :placeholder="$t('forms.label.email')"
                v-model="formData.email"
                v-validate="{
                  required: true,
                  email: true
                }"
                :state="$validateState('email')"
              />
              <b-input-group-append is-text class="icon-addon">
                <font-awesome-icon :icon="['fas', 'envelope']"/>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <b-form-group>
            <b-input-group>
              <b-form-input
                type="password"
                name="password"
                :placeholder="$t('forms.label.password')"
                v-model="formData.password"
                v-validate="{
                  required: true
                }"
                :state="$validateState('password')"
              />
              <b-input-group-append is-text class="icon-addon">
                <font-awesome-icon :icon="['fas', 'lock']"/>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-checkbox
            v-model="rememberMe"
            :value="true"
            :unchecked-value="false"
          >
            {{ $t('auth.rememberMe') }}
          </b-form-checkbox>
        </b-col>
      </b-row>
      <b-row class="mt-4">
        <b-col cols="12">
          <b-button block variant="default" type="submit">
            {{ $t('auth.login') }}
          </b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="m-0">
          <router-link  :to="{name: 'forget-password'}">
            {{ $t('auth.forgetPassword') }}
          </router-link>
        </b-col>
        <b-col md="auto" class="m-0">
          <router-link  :to="{name: 'register'}">
            {{ $t('auth.createAccount') }}
          </router-link>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      rememberMe: false,
      formData: {}
    }
  },
  methods: {
    onSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          console.log('submit')
          localStorage.setItem('jwt', 'token') // set token

          /**
           * get user permission
           */
          // TODO: set user permission to store
          // this.$store.commit('setUserPerm', userPermission)

          this.$router.push({ name: 'dashboard' }) // push to dashboard
        } else {
          console.log('validate-fail')
        }
      })
    }
  }
}
</script>

<style lang="scss">
.login {
  width: 22rem;

  a {
    color: $charcoal;
  }
}
</style>
