<template>
  <div>
    <b-form @submit="onSubmit">
      <b-form-group
        label="Email"
        label-for="email"
        description="We'll never share your email with anyone else."
        :invalid-feedback="$validateStateFeedback('email')"
      >
        <b-form-input
          id="email"
          name="email"
          placeholder="youremail@mail.com"
          v-model="formData.email"
          v-validate="{ required: true, email: true }"
          :state="$validateState('email')"
        />
      </b-form-group>

      <b-form-group
        label="First name"
        label-for="firstName"
        :invalid-feedback="$validateStateFeedback('firstName')"
      >
        <b-form-input
          id="firstName"
          name="firstName"
          placeholder="Szx"
          v-model="formData.firstName"
          v-validate="{ required: true }"
          :state="$validateState('firstName')"
        />
      </b-form-group>

      <b-form-group
        label="Last name"
        label-for="lastName"
        :invalid-feedback="$validateStateFeedback('lastName')"
      >
        <b-form-input
          id="lastName"
          name="lastName"
          placeholder="Admin"
          v-model="formData.lastName"
          v-validate="{ required: true }"
          :state="$validateState('lastName')"
        />
      </b-form-group>

      <b-button type="submit" variant="default" class="mt-2">Update</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ formData }}</pre>
    </b-card>
  </div>
</template>

<script>
export default {
  name: 'basic-settings',
  data () {
    return {
      formData: {}
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()

      // validate form data
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$bvModal.hide('add-modal')
        }
      })
    },
  }
}
</script>
