<template>
  <div>
    <b-row class="collapse-notification">
      <b-col class="title">
        System Messages
        <div class="description">
          System messages will be notified in the form of a station letter
        </div>
      </b-col>
      <b-col cols="auto d-flex align-items-center">
        <b-form-checkbox v-model="checked_systemNoti" switch></b-form-checkbox>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'notification-settings',
  data () {
    return {
      checked_systemNoti: false,
    }
  }
}
</script>

<style lang="scss">
.collapse-notification {
  .title {
    color: $brand-secondary;

    .description {
      font-size: 12.5px;
      color: rgba($brand-secondary, .7);
    }
  }
}
</style>
