<template>
  <div>
    <b-card no-body class="tabs-profile-settings">
      <b-tabs pills card vertical>
        <b-tab title="Basic Settings" active>
          <b-card-text>
            <basic-settings></basic-settings>
          </b-card-text>
        </b-tab>
        <b-tab title="Security Settings">
          <b-card-text>
            <security-settings></security-settings>
          </b-card-text>
        </b-tab>
        <b-tab title="Notification Settings">
          <b-card-text>
            <notification-settings></notification-settings>
          </b-card-text>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import BasicSettings from './BasicSettings'
import SecuritySettings from './SecuritySettings'
import NotificationSettings from './NotificationSettings'

export default {
  name: 'profile',
  components: {
    BasicSettings,
    SecuritySettings,
    NotificationSettings
  },
  data () {
    return {
      app: 'profile',
      search: '',
      data: null,
      submit_add: false,
      submit_update: false,
      close_add: false,
      close_update: false,
    }
  }
}
</script>

<style lang="scss">
.tabs-profile-settings {
  .nav {
    .nav-item a {
      padding-right: 2rem;
    }
  }
}
</style>
