<template>
  <div>
    <b-form>
      <b-row class="collapse-security">
        <b-col class="title">
          Account Password
          <div class="description">
            Change account password
          </div>
        </b-col>
        <b-col cols="auto d-flex align-items-center">
          <a
            href="javascript:void(0)"
            v-b-toggle.collapseAccountPassword
          >Modify</a>
        </b-col>
        <b-col cols="12">
          <b-collapse id="collapseAccountPassword" class="mt-2">
            <b-card>
              <b-form-group
                label="Current Password"
                label-for="currentPassword"
                :invalid-feedback="$validateStateFeedback('currentPassword')"
              >
                <b-form-input
                  id="currentPassword"
                  name="currentPassword"
                  type="password"
                  placeholder="*****"
                  v-model="formData.currentPassword"
                  v-validate="{ required: true }"
                  :state="$validateState('currentPassword')"
                />
              </b-form-group>

              <b-form-group
                label="New Password"
                label-for="password"
                :invalid-feedback="$validateStateFeedback('password')"
              >
                <b-form-input
                  id="password"
                  name="password"
                  ref="password"
                  type="password"
                  placeholder="*****"
                  v-model="formData.password"
                  v-validate="{ required: true }"
                  :state="$validateState('password')"
                />
              </b-form-group>

              <b-form-group
                label="Confirm Password"
                label-for="confirmPassword"
                :invalid-feedback="$validateStateFeedback('confirmPassword')"
              >
                <b-form-input
                  id="confirmPassword"
                  name="confirmPassword"
                  type="password"
                  placeholder="*****"
                  v-model="formData.confirmPassword"
                  v-validate="{ required: true, confirmed: 'password' }"
                  :state="$validateState('confirmPassword')"
                />
              </b-form-group>
              <b-button type="button" variant="default" class="mt-2">Update</b-button>
            </b-card>
          </b-collapse>
        </b-col>
      </b-row>
      <hr>
      <b-row class="collapse-security">
        <b-col class="title">
          Backup Email
          <div class="description">
            Settings backup email
          </div>
        </b-col>
        <b-col cols="auto d-flex align-items-center">
          <a
            href="javascript:void(0)"
            v-b-toggle.collapseBackupEmail
          >Modify</a>
        </b-col>
        <b-col cols="12">
          <b-collapse id="collapseBackupEmail" class="mt-2">
            <b-card>
              <b-form-group
                label="Email"
                label-for="email"
                description="We'll never share your email with anyone else."
                :invalid-feedback="$validateStateFeedback('email')"
              >
                <b-form-input
                  id="emailBackup"
                  name="email"
                  placeholder="youremail@mail.com"
                  v-model="formData.email"
                  v-validate="{ required: true, email: true }"
                  :state="$validateState('email')"
                />
              </b-form-group>
              <b-button type="button" variant="default" class="mt-2">Update</b-button>
            </b-card>
          </b-collapse>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>
export default {
  name: 'security-settings',
  data () {
    return {
      formData: {}
    }
  }
}
</script>

<style lang="scss">
.collapse-security {
  .title {
    color: $brand-secondary;

    .description {
      font-size: 12.5px;
      color: rgba($brand-secondary, .7);
    }
  }

  .card {
    background-color: $brand-light;
    border: unset;
    box-shadow: unset;
  }
}
</style>
