<template>
  <li class="sidebar-item sidebar-item-group" :key="`${menu.id}`">
    <a
      href="javascript:void(0)"
      :class="`${showCollapse ? 'collapsed' : ''} sidebar-link ${active ? 'router-link-active' : ''}`"
      @click="showCollapse = !showCollapse"
    >
      <!-- @slot Title of menu -->
      <slot name="title">
        <span class="sidebar-link-icon">
          <font-awesome-icon v-if="menu.icon" :icon="menu.icon"/>
        </span>
        <span class="sidebar-link-text">{{ $t(menu.title) }}</span>
      </slot>
    </a>
    <b-collapse v-model="showCollapse" :id="`${menu.id}`" >
      <ul class="sidebar-submenu">
        <!-- @slot Default for overide menu -->
        <slot>
          <template v-for="menu in menu.children">
            <sidebar-link-group
              v-if="menu.children && !menu.notRenderChild && (menu.auth ? permission(menu.auth, $store.getters.userPermission) : true)"
              :idCollapse="`${menu.id}`"
              :key="`${menu.id}`"
              :menu="menu"
            />

            <sidebar-link
              v-if="(!menu.children || menu.notRenderChild) && (menu.auth ? permission(menu.auth, $store.getters.userPermission) : true)"
              :to="{ name: menu.to }"
              :key="`${menu.id}`"
            >
              <fragment slot="title">
                <span class="sidebar-link-icon">
                  <font-awesome-icon v-if="menu.icon" :icon="menu.icon"/>
                </span>
                <span class="sidebar-link-text">{{ $t(menu.title) }}</span>
              </fragment>
            </sidebar-link>
          </template>
        </slot>
      </ul>
    </b-collapse>
  </li>
</template>

<script>
import SidebarLink from './SidebarLink'
import { permission } from '@/router/middleware'

export default {
  name: 'sidebar-link-group',
  components: {
    SidebarLink
  },
  props: {
    /**
     * Menu to render
     */
    menu: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      showCollapse: false,
      active: false
    }
  },
  mounted () {
    this.isCollapse(this.$route)
  },
  watch: {
    $route (route) { // watch for set collapse to menu
      this.isCollapse(route)
    }
  },
  methods: {
    permission,
    getChildrens (childrens, result = []) { // get all children contains in this menu
      for (let index in childrens) {
        if (childrens[index].children) {
          this.getChildrens(childrens[index].children, result)
          if (childrens[index].to) {
            result.push(childrens[index].to)
          }
        } else {
          result.push(childrens[index].to)
        }
      }
      return result
    },
    isCollapse (route) {
      let childrens = this.getChildrens(this.menu.children)
      if (!childrens.includes(route.name)) {
        this.showCollapse = false
        this.active = false
      } else {
        this.showCollapse = true
        this.active = true
      }
    }
  }
}

</script>
