<template>
  <li class="sidebar-item">
    <router-link
      class="sidebar-link sidebar-link__router-link"
      :to="to"
      :target="target">
      <!-- @slot Title of menu -->
      <slot name="title"></slot>
    </router-link>
  </li>
</template>

<script>
export default {
  name: 'sidebar-link',
  props: {
    /**
     * Router to
     */
    to: {
      type: Object,
      required: true,
    },
    /**
     * Target browser
     */
    target: {
      type: String,
      default: '_self',
    },
  },
  watch: {
    $route (route) {
      this.$nextTick(() => {
        const isActive = this.$children[0].$el.classList.contains('router-link-active')
        if (!isActive) {
          return
        }
        const linkGroup = this.$parent && this.$parent.$parent
        if (linkGroup.$options.name !== 'sidebar-link-group') {
          return
        }
        linkGroup.expanded = true
      })
    },
  },
}
</script>
