<template>
  <b-row class="mt-3 mb-2">
    <b-col>
      <b-breadcrumb :items="items"></b-breadcrumb>
    </b-col>
  </b-row>
</template>

<script>
import { breadcrumbs } from './Breadcrumbs'

export default {
  name: 'app-breadcrumbs',
  data () {
    return {
      breadcrumbs: breadcrumbs,
      currentRouteName: this.$route.name,
      items: []
    }
  },
  mounted () {
    this.setItems()

    // watch locale
    this.$store.watch(
      (state, getters) => getters.config.locale,
      () => {
        this.setItems()
      },
    )
  },
  methods: {
    displayedCrumbs () {
      // Breadcrumbs object has root and routes. Root is required for us to display home page.
      const routeBreadcrumbList = this.breadcrumbs.routes

      const foundBreadcrumbs = this.findInNestedByName(routeBreadcrumbList, this.currentRouteName)

      if (!foundBreadcrumbs.length) {
        // eslint-disable-next-line no-console
        console.warn(`No breadcrumbs registered for route with name "${this.currentRouteName}"`)
      }

      return foundBreadcrumbs
    },
    findInNestedByName (routeBreadcrumbList, name) {
      for (const routeBreadcrumb of routeBreadcrumbList) {
        // We found breadcrumbs for route
        if (routeBreadcrumb.name === name) {
          return [routeBreadcrumb]
        }
        // We didn't find any breadcrumbs for route - means we have to go deeper!
        // Which works only if route breadcrumb has children declared.
        if (!routeBreadcrumb.children) {
          continue
        }
        let result = this.findInNestedByName(routeBreadcrumb.children, name)
        if (result.length) {
          return [routeBreadcrumb, ...result]
        }
      }

      return []
    },
    setItems () {
      const crumbs = this.displayedCrumbs()

      this.items = [
        {
          text: this.$t(this.breadcrumbs.root.displayName),
          to: { name: this.breadcrumbs.root.name }
        }
      ]

      crumbs.forEach((crumb, key) => {
        if (this.items[0].to.name !== crumb.name) {
          this.items.push({
            text: this.$t(crumb.displayName),
            to: { name: crumb.name },
            active: crumb.disabled || key === crumbs.length - 1
          })
        }
      })
    }
  },
  watch: {
    $route (route) {
      this.currentRouteName = route.name
      this.setItems()
    },
  }
}
</script>

<style lang="scss">
.breadcrumb {
  background-color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: $default-box-shadow;

  .breadcrumb-item{
    + .breadcrumb-item::before {
      content: '\203A';
    }

    &:not(.active) {
      a {
        color: $default-theme !important;
        text-decoration: unset;
      }
    }
  }
}
</style>
