<template>
  <div>
    <app-widget app="alert" :textHeader="$t('menu.alert')">
      <b-row>
        <b-col cols="12">
          <b-button variant="outline-success" class="mr-3" @click="success">Success</b-button>
          <b-button variant="outline-danger" class="mr-3" @click="fail">Fail</b-button>
          <b-button variant="outline-info" class="mr-3" @click="custom">Custom</b-button>
        </b-col>
      </b-row>
    </app-widget>
  </div>
</template>

<script>
export default {
  name: 'alert',
  methods: {
    success () { // onclick alert bottom
      this.$store.commit('setAlert', {
        show: true,
        status: 'success'
      })
    },
    fail () { // onclick alert bottom
      this.$store.commit('setAlert', {
        show: true,
        status: 'fail'
      })
    },
    custom () { // onclick alert bottom
      this.$store.commit('setAlert', {
        show: true,
        status: 'custom',
        type: 'warning',
        title: 'Custom',
        text: 'more'
      })
    },
  },
}
</script>
