<template>
  <div class="exception-page">
    <b-container>
      <div>
        <h1 class="number">{{number}}</h1>
      </div>
      <!-- @slot Custom content -->
      <slot name="content">
        <div class="flex">
          <h4 class="text">{{text}}</h4>
        </div>
        <div class="mt-5">
          <div class="mb-4" v-if="textSmall">
            <h4 class="text-small">{{textSmall}}</h4>
          </div>
          <router-link :to="{ path: '/' }">
            <b-button pill variant="base" class="back-button">
              {{'Back to home'}}
            </b-button>
          </router-link>
        </div>
      </slot>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'app-exception',
  props: {
    /**
     * Response code
     */
    number: {
      type: String,
      required: true
    },
    /**
     * Page detail
     */
    text: {
      type: String,
      require: true
    },
    /**
     * Page description
     */
    textSmall: {
      type: String
    }
  }
}
</script>

<style lang="scss">
.exception-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $default-theme;

  .number {
    font-size: 350px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 15px;
    color: white;
  }

  .text {
    color: white;
  }

  .text-small {
    font-size: $font-size-base;
    line-height: 1.5;
    color: white;
    font-weight: normal;
  }

  .back-button {
    padding: 0.5rem 3rem;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
  }
}
</style>
