<template>
  <div>
    <!-- add modal -->
    <b-form v-if="$store.getters.userPermission.includes(`${app}.add`)">
      <b-modal
        id="add-modal"
        ref="add-modal"
        :title="$t('modal.add')"
        @ok="emitSubmitAdd"
        @hidden="emitCloseAdd"
      >
        <!-- @slot Add modal content -->
        <slot name="add-modal"></slot>
      </b-modal>
    </b-form>

    <!-- update modal -->
    <b-form v-if="$store.getters.userPermission.includes(`${app}.update`)">
      <b-modal
        id="update-modal"
        ref="update-modal"
        :title="$t('modal.update')"
        @ok="emitSubmitUpdate"
        @hidden="emitCloseUpdate"
      >
        <!-- @slot Update modal content -->
        <slot name="update-modal"></slot>
      </b-modal>
    </b-form>
  </div>
</template>

<script>
export default {
  name: 'app-modal',
  props: {
    /**
     * App that using this component for validate permission
     */
    app: {
      type: String,
      required: true
    }
  },
  methods: {
    emitCloseAdd () {
      /**
       * Passthrough on close add modal
       * @type {Event}
       */
      this.$emit('close-add')
    },
    emitCloseUpdate () {
      /**
       * Passthrough on close update modal
       * @type {Event}
       */
      this.$emit('close-update')
    },
    emitSubmitAdd (bvModalEvt) {
      bvModalEvt.preventDefault()

      /**
       * Passthrough click submit button in add modal
       * @type {Event}
       */
      this.$emit('submit-add')
    },
    emitSubmitUpdate (bvModalEvt) {
      bvModalEvt.preventDefault()

      /**
       * Passthrough click submit button in update modal
       * @type {Event}
       */
      this.$emit('submit-update')
    },
  }
}
</script>
