<template>
  <sidebar>
    <template slot="menu">
      <template v-for="menu in menus">
        <sidebar-link-group
          v-if="menu.children && !menu.notRenderChild && (menu.auth ? permission(menu.auth, $store.getters.userPermission) : true)"
          :idCollapse="`${menu.id}`"
          :key="`${menu.id}`"
          :menu="menu"
          :sidebarAccordion="menu.sidebarAccordion"
        />

        <sidebar-link
          v-if="(!menu.children || menu.notRenderChild) && (menu.auth ? permission(menu.auth, $store.getters.userPermission) : true)"
          :to="{ name: menu.to }"
          :key="`${menu.id}`"
        >
          <fragment slot="title">
            <span class="sidebar-link-icon">
              <font-awesome-icon v-if="menu.icon" :icon="menu.icon"/>
            </span>
            <span class="sidebar-link-text">{{ $t(menu.title) }}</span>
          </fragment>
        </sidebar-link>
      </template>
    </template>
  </sidebar>
</template>

<script>
import Sidebar from './Sidebar'
import SidebarLink from './components/SidebarLink'
import SidebarLinkGroup from './components/SidebarLinkGroup'
import { permission } from '@/router/middleware'

export default {
  name: 'app-sidebar',
  components: {
    Sidebar,
    SidebarLink,
    SidebarLinkGroup,
  },
  data () {
    return {
      menus: [
        {
          id: 1,
          title: 'menu.dashboard',
          icon: 'home',
          to: 'dashboard',
          auth: ['dashboard.view']
        },
        {
          id: 2,
          title: 'menu.data._',
          icon: 'link',
          auth: ['data_axios.view', 'data_table.view'],
          children: [
            {
              id: 3,
              title: 'menu.data.axios',
              to: 'data-axios',
              auth: ['data_axios.view']
            },
            {
              id: 4,
              title: 'menu.data.table',
              to: 'data-table',
              auth: ['data_table.view']
            },
            {
              id: 5,
              title: 'menu.data.tableServerside',
              to: 'data-tableServerside',
              auth: ['data_table.view']
            },
          ]
        },
        {
          id: 6,
          title: 'menu.formData',
          icon: 'file-alt',
          to: 'form-data',
          auth: ['form_data.view']
        },
        {
          id: 7,
          title: 'menu.alert',
          icon: 'exclamation-circle',
          to: 'alert',
          auth: ['alert.view']
        }
      ]
    }
  },
  methods: {
    permission
  }
}
</script>
