<template>
  <aside class="main-sidebar">
    <vue-perfect-scrollbar class="sidebar-scroll" :settings="settings">
      <ul class="sidebar-menu">
        <slot name="menu"></slot>
      </ul>
    </vue-perfect-scrollbar>
  </aside>
</template>

<script>
export default {
  name: 'sidebar',
  data () {
    return {
      settings: {
        maxScrollbarLength: 100,
        wheelSpeed: 0.25,
        wheelPropagation: false
      }
    }
  }
}
</script>
