<template>
  <div class="auth-layout">
    <b-container class="h-100 d-flex justify-content-center align-items-center">
      <b-card>
        <b-card-text>
          <div class="logo-icon">
            <router-link :to="{path: '/'}">
              <img src="@/assets/images/logo.png" height="100px">
            </router-link>
          </div>
          <router-view/>
        </b-card-text>
      </b-card>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'auth-layout',
}
</script>

<style lang="scss">
.auth-layout {
  height: 100vh;
  background-color: $lighter-gray;

  .logo-icon {
    text-align: center;
    margin-bottom: 3.5rem;
  }
}
</style>
