<template>
  <fragment>
    <app-navbar/>
    <app-sidebar/>
    <main class="content-wrapper">
      <app-breadcrumbs/>
      <router-view/>
      <!-- @slot Content -->
      <slot name="content"></slot>
    </main>
    <app-footer/>
  </fragment>
</template>

<script>
import AppNavbar from './app-navbar/AppNavbar'
import AppSidebar from './app-sidebar/AppSidebar'
import AppBreadcrumbs from './app-breadcrumbs/AppBreadcrumbs'
import AppFooter from './app-footer/AppFooter'

export default {
  name: 'app-layout',
  components: {
    AppNavbar,
    AppSidebar,
    AppBreadcrumbs,
    AppFooter,
  }
}
</script>

<style lang="scss">
.content-wrapper {
  padding: 15px;
  padding-top: $header-height-sm + 15px;
  transition: all 3s;
  transition: margin-left 0.4s ease;
  min-height: calc(100vh - 69px);

  .pre-loader {
    position: absolute;
    top: $preloader-top;
    color: $primary;
  }

  // 992px up
  @include media-breakpoint-up(lg){
      padding-top: $header-height-sm + 15px;
      padding-left: 30px;
      padding-right: 30px;
      min-height: calc(100vh - 69px);
  }

  // 1200px up
  @include media-breakpoint-up(xl){
    margin-left: $sidebar-width;
  }
}

.sidebar-toggle>.content-wrapper{
  // 1200px up
  @include media-breakpoint-up(xl){
    margin-left: $sidebar-width-sm;
  }
}
</style>
