<template>
    <footer class="main-footer">
        <b-container fluid>
            Vueszx Admin
        </b-container>
    </footer>
</template>

<script>
export default {
  name: 'app-footer'
}
</script>

<style lang="scss">
.main-footer{
    background-color: $footer-bg;
    color: $footer-color;
    padding: 15px;
    margin-top: 15px;
    text-align: center;

    @include media-breakpoint-between(md,lg){
        padding-left: $sidebar-width-sm;
    }
    @include media-breakpoint-up(xl){
        padding-left: $sidebar-width;
    }
}
</style>
