<template>
  <b-nav-item-dropdown class="nav-lang language-dropdown" right>
    <template slot="button-content">
      <span
        class="lang-icon"
        :class="flagIconClass(currentLanguage())"
      >
      </span>
      <span class="lang-title d-none d-lg-block ml-lg-2">
        {{ currentLanguageName() }}
      </span>
    </template>

    <b-dropdown-item
      href="#"
      v-for="(option, id) in options"
      :key="id"
      :class="{ active: option.code === currentLanguage() }"
      @click="setLanguage(option.code)"
    >
      <span class="lang-icon lang-icon-sm" :class="flagIconClass(option.code)"/>
      <span class="lang-title dropdown-item__text ellipsis">
        {{ `language.${option.name}` | translate }}
      </span>
    </b-dropdown-item>
  </b-nav-item-dropdown>
</template>

<script>
export default {
  name: 'language-dropdown',
  data () {
    return {
      isShown: false,
    }
  },
  props: {
    options: {
      type: Array,
      default: () => [
        {
          code: 'gb',
          name: 'en',
        },
        {
          code: 'th',
          name: 'th',
        },
      ],
    },
  },
  methods: {
    setLanguage (locale) {
      this.$i18n.set(locale)
      this.$store.commit('setLocale', locale)
    },
    currentLanguage () {
      return this.$i18n.locale() === 'en' ? 'gb' : this.$i18n.locale()
    },
    currentLanguageName () {
      return this.$t(`language.${this.$i18n.locale() === 'gb' ? 'en' : this.$i18n.locale()}`)
    },
    flagIconClass (code) {
      return `flag-icon-${code}`
    },
  },
}
</script>

<style lang="scss">
@import "~flag-icon-css/css/flag-icon.css";
</style>
